.middle {
  padding-bottom: 120px;
}
.about_suu {
  font-family: "Archivo", sans-serif;
}
.kid_div {
  margin-top: 170px;
}
.kidd_sub {
  font-size: 24px;
}
.kiddo_head {
  font-weight: 500;
  font-size: 50px;
}
.kidd_divv {
  max-width: 450px;
}
.kidd_img {
  border: 8px solid black;
  border-radius: 20px;
}
.sec {
  margin-top: 200px;
}
.cofounders {
  margin-top: 150px;
}
.cofounderz {
  font-size: 40px;
  font-weight: 500;
}
.fo {
  height: 290px;
}
.found_name {
  font-size: 25px;
  font-weight: 500;
  margin-top: 30px;
}
.doo {
  font-family: "Archivo", sans-serif;
}
.section {
  margin-top: 100px;
  margin-bottom: 100px;
}
.instruction {
  margin-top: 10px;
  font-weight: 300;
}
.devices {
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}
.founder {
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.donate_card {
  padding-top: 80px;
  height: 450px;
  width: 450px;
  background-color: #251600;
color: white;
border-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.donte_subl {
  margin-top: 30px;
  background-color: #ff6803;
  width: 140px;
  border-radius: 50px;
  height: 40px;
  margin-left: 30px;
  color: white;
  font-size: 21px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
