.logo_foot {
  max-width: 400px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
}
.contactus {
  margin-top: 80px;
  background-color: #251600;
  max-width: 100%;
  padding: 100px;
}
.widget {
  max-width: 600px;
  height: 700px;
}
