.logo {
  width: 70px;
  height: 70px;
}
.div {
  margin-left: 6%;
  margin-right: 6%;
}
.head_ele {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 500;
}
.headdiv {
  background-color: #dce1c8;
}
.headdv {
  background-color: white;
}

.tag {
  font-weight: 500;
}
.heartlogo {
  width: 30px;
  height: 30px;
}
.header_btn {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: white;
  border-radius: 50px;
  height: 50px;
  width: 150px;
  background-color: #251600;
  margin-left: auto;
}
@media only screen and (max-width: 770px) {
  .desk {
    display: none;
  }
}
@media only screen and (min-width: 770px) {
  .mob {
    display: none;
  }
}
