.project_img {
  width: 500px;
}
.proj_card {
  max-width: 80%;
  background-color: #251600;
  color: white;
  padding-top: 90px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 80px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
}
.project_sub {
  font-family: "Archivo", sans-serif;
}
.project_test {
  margin-top: 150px;
}
.lore {
  text-align: justify;
  font-weight: 300;
  margin-bottom: 50px;
}
.lin {
  height: 2px;
  width: 100%;
  background-color: black;
  margin-bottom: 30px;
}
.donaa {
  text-align: left;
  font-weight: 500;
}
.center {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}
